<ion-header>
  <ion-toolbar>
    <ion-title>Two lists, describing exactly what you get when you hire me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="4" offset="1">
      <h1>The good</h1>
      <h2>
        Communication
      </h2>
      <p>
        I am a communicator at heart. The most important thing as a developer is not to be able to write beautiful,
        self-explanatory and concise code. The most important thing is to be able to communicate, be it in writing,
        face-to-face or through code. The most important of the above three is definitely face-to-face communication,
        since you need to be able to understand a customers needs and pains, before you try to tackle the job at hand.
      </p>
      <p class="dev-comment">
        The second most important is the communication you do while you code. Here, I have an emphasis on easy to
        understand code, so easy that comments become unnecessary.
      </p>
      <h2>
        Easy to understand code
      </h2>
      <p>
        My favourite language is GoLang. A lot can be said about the programming language, but I do feel that the
        following describe both me and GoLang
      </p>
      <ul>
        <li>
          Easy to understand
        </li>
        <li>
          Require strict Communication
        </li>
        <li>
          Performant
        </li>
      </ul>
      <p>
        I, as well as GoLang require very strict Communication. The reason for this is that communication is hard.
        To quote a classic:
      </p>
      <p>
        Wife says to her programmer husband, "Go to the store and buy a loaf of bread. If they have eggs, buy a dozen."
        Husband returns with 12 loaves of bread.
      </p>
      <p>
        This joke might be a bit silly, but it does illustrate exactly how it feels to project a persons vision into
        code, which is why I am very strict when I communicate about software.
      </p>
      <h2>
        Well structured
      </h2>
      <p>
        In order for me to do my best work, I structure my way of doing things. I am a practitioner of Test Driven
        Development (Only for backend code / Flutter), not because I believe tests are the best things in the world, but because these tests make me
        structure my code, and make me able to break down problems into their smallest possible chunks easily.
        I structure my daily life with to-do lists, and I structure my workspace, where I disable all social media,
        email, popups and I do not even have a clock enabled while developing.
      </p>
      <h2> A team player </h2>
      <p>
        I am a purist at heart, and would like to make everything perfectly, but I know that deadlines needs to be made,
        and I understand that the most important thing for a project to succeed is NOT that all async javascript is
        covered by frontend loading spinners, but that shipable code is delivered. I also accept that others do not
        write TDD as I do, but I do not frain from this practice myself, ever.
      </p>
    </ion-col>
    <ion-col size="4" offset="2">
      <h1>The bad</h1>
      <h2>
        Strict communication
      </h2>
      <p>
        When talking professionally, I insist on keeping strict communication.
        This can come off as me being arrogant, uneasy and not always pleasing.
        When we stop talking professionally, I quickly snap out of my "strictness", which may appear confusing to some.
      </p>
      <h2>
        Bad memory
      </h2>
      <p>
        When communicating with me, if I do not have a pen and paper, there is a 50% chance I will forget that you
        required me to change the color of the button to a mix of Lusty Gallant and Incarnadine, and not simply red.
        - not to worry, I always keep my pen and paper close by.
      </p>
    </ion-col>
  </ion-row>
</ion-content>