<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{ title }}</ion-title>
    <span slot="end" *ngIf="titleImg">
      <img class="titleImg" [src]="titleImg"
    /></span>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      {{ desc }} <br />
      <a [href]="readMore"> Read more here </a></ion-card-content
    >
  </ion-card>
  <ion-card>
    <ion-card-content>
      <h2>Technologies used:</h2>
    </ion-card-content>
    <span *ngFor="let tech of techs">
      <app-techs3d [img]="tech.img" [name]="tech.name"></app-techs3d>
    </span>
    <br />
    <span *ngFor="let tech of techs; let i = index"
      ><span *ngIf="i != 0">, </span>{{ tech.name }}</span
    >
    <p>* Extra info: The above rotary icons are rendered with WebGL</p>
    <p>
      * Extra extra info: I know they look horrible, but I really wanted to show
      off my WebGL skills.
    </p>
  </ion-card>
</ion-content>
